<h1> About UWiki</h1>

<h2>
    Group name: The ATeam
    Team members: Trenton Schneider, Trevor McPherson, Lisa Suvarna
    app name: UWiki

    About UWiki:
    Wiki that is based on user input where users can search for info,
    add or modify information to create a knowledge base.

</h2>