<div class="section container">
    <h1 class="AboutTitle"> About UWiki</h1>
    <div class="card">
        <h5>Group name:</h5>
        <p>The ATeam</p>
        <h5>Team members:</h5>
        <p>Trenton Schneider, Trevor McPherson, Lisa Suvarna</p>
        <h5>App name:</h5>
        <p>UWiki</p>
        <h5>About UWiki:</h5>
        <p>Wiki that is based on user input where users can search for info, add or modify information to create a
            knowledge base.</p>
    </div>
</div>