<h2>
  Add a Wiki
</h2>
<div class="container">
  <div class="container">
    <form id="add-form">
      <div class="input-group">
        <input id="title" type="title" name="title" />
        <label class="label-icon" for="title">Title :</label>
        <input id="category" type="category" name="category" />
        <label class="label-icon" for="category">Category: </label>
        <input id="description" type="description" name="description" row="10" />
        <label class="label-icon" for="description">Description: </label>
        <button type="submit" id="add" class="input-group-addon btn"> Add </button>
      </div>
    </form>
  </div>
</div>