<h2>
  Add a Wiki
</h2>
<div class="container">
  <div class="container">
    <form id="add-form" action="add" method="get">
      <div class="input-group">
        <input id="title" type="title" name="title" />
        <label class="label-icon" for="title"></label>
        <input id="category" type="category" name="category" />
        <label class="label-icon" for="category"></label>
        <input id="description" type="description" name="description" />
        <label class="label-icon" for="description"></label>
      </div>
      <div class="input-field">
        <input id="Add" type="Add" name="q" />
        <label class="label-icon" for="Add">
          <i class="material-icons">
            Add
          </i>
        </label>
        <button type="submit" class="input-group-addon btn">
          Add
        </button>
      </div>
    </form>
  </div>
</div>