<div class="container">
  <div class="collection">
    <div class="container">
      <form id="search-site" action="search" method="get">
        <div class="input-group">
          <div class="input-field">
            <input id="search" type="search" name="q" />
            <label class="label-icon" for="search">
              <i class="material-icons">
                search
              </i>
            </label>
          </div>
          <button type="submit" class="input-group-addon btn">
            search
          </button>
        </div>
      </form>
    </div>
    <div id="uWikiList">
      <ul>
        {{#each wikis}}
        <li>
          <p>
            Category:
            {{this.category}}
          </p>
          <a href="#!" class="collection-item" data-id="{{this.id}}">
            <p>
              Title:
              {{this.title}}
            </p>
          </a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>