.brand-logo {
  font-family: 'Alata', sans-serif;
}
.nav-wrapper {
  padding-left: 2rem;
  padding-right: 2rem;
  text-shadow: 1px 1px rgba(223, 223, 223, 0.795);
}

#brand {
  font-size: 30pt;
}

#A, #B {
  font-size: 15pt;
}

.page-footer {
  padding: 20pt;
  background-color: rgba(223, 223, 223, 0.795);
}
